<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.htlkaindorf.twodoprojectmaxi">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- for reboot event to reset alarms -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".activities.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.TransferActivity"></activity>
        <activity android:name=".activities.ManipulationActivity" />
        <activity
            android:name=".activities.CategoriesManagementActivity"
            android:label="@string/title_activity_categories_management"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.ToDoListActivity"
            android:label="@string/title_activity_to_do_list"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.CreationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notificationManager.AlertReceiver"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name=".notificationManager.RestartAppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>